

  .blast{
    background-color: red;
  }

  .bullet{
    background-color: orange;
  }

  #rabi{
   /*background-color: blue;*/
    background-image: url('../image/rabi.png');
    background-size: contain;
    background-repeat: no-repeat;
  }

  #boss{
    background-image: url('../image/boss.png');
    background-size: contain;
    background-repeat: no-repeat;
  }

  #bill_board{
    background-color: #e6ffff;
  }
