
  .rect{
    position: absolute;
    display: inline-block;
  }

  .sphe{
  	position: absolute;
    display: inline-block;
    border-radius: 50%;
    margin: 0;
  }

  .blast{
    background-color: red;
  }

  .bullet{
    background-color: orange;
  }

  #rabi{
    background-color: blue;
  }

  #boss{
    background-color: red;
  }