
  .rect{
    position: absolute;
    display: inline-block;
  }

  .sphe{
  	position: absolute;
    display: inline-block;
    border-radius: 50%;
    margin: 0;
  }

  .blast{
    background-color: red;
  }

  .bullet{
    background-color: orange;
  }

  #rabi{
   /*background-color: blue;*/
    background-image: url('../image/rabi.png');
    background-size: contain;
    background-repeat: no-repeat;
  }

  #boss{
    background-image: url('../image/boss.png');
    background-size: contain;
    background-repeat: no-repeat;
  }