
/*default style */
  .gameboard {
    margin: 0 auto;
    margin-top: 5%;
    width: 1024px;
    height: 768px;
    background-color: #ffe6e6;
    overflow: hidden
  }

  .background{
    background-color: black;
  }