  .ui {
    position: relative;
    display: inline-block;
    border-width: 0px;
    width: 1280px;
    height: 720px;
    /*background-color: red;*/
  }

    

  .ui > .alert {
    text-align: center;
    line-height: 5px;
    margin-bottom:  0px;    
    border-color: white;
    background-color: #b3ccff;
    border-width: 2px;
    color: black;
  }  
  
  .ui > .btn {
    border-radius: 30px;
  }  


  .ui_obj {
    position: absolute;
  }

  #top_banner{
    font-size: 30px;
    line-height: 100%;
    border-width: 5px;
  }