  .ui {
    position: relative;
    display: inline-block;
    border-width: 0px;
    width: 1280px;
    height: 720px;
    /*background-color: red;*/
  }


  .ui > .alert {
    text-align: center;
    line-height: 5px;
    margin-bottom:  0px;
  }  
  .ui > .alert-warning {
    border: 1px solid #ccc
  }

  .ui_obj {
    position: absolute;
  }